

@font-face {
font-family: "Poppins";
src: url(fonty/Poppins-Regular.ttf);
font-weight: normal;}

@font-face {
font-family: "PoppinsBold";
src: url(fonty/Poppins-ExtraBold.ttf);
font-weight: bold;}

body{ 
font-family: "Poppins" ;
font-size: 14px;
box-sizing: border-box;
margin: 0;
min-width: 960px; /*aby se nám stránka nedeformovala při přílišném zmenšení*/
padding: 100px 0px 0px 0px; /*aby nám hlavička nepřekrývala obsah*/}

h2, h3, h4{
padding: 10px 0;
color: #00386B;}

td > h2{
padding: 10px 0;
color: #00386B;
padding: 0 40%;}

article h1{ 
font-family: "PoppinsBold";
text-transform: uppercase;
font-weight:bold;
font-size: 2em;
color:rgb(9, 7, 110);
text-shadow: 3px 3px 4px #b2f3f5, 7px 7px 3px #666666;
border-bottom: 3px solid rgb(236, 152, 41);
width: max-content;}


article {
margin: 0 auto; /*prvek bude vycentrovaný horizontálně (pokud má definovanou width nebo max-width).
0 (nahoře a dole) → Žádné horní a spodní odsazení.
auto (vlevo a vpravo) → Automatické zarovnání na střed.*/
/* prvek musí mít definovanou width*/
max-width: 960px;
padding: 50px 50px 10px 50px;
 /*    50px (nahoře)
50px (vpravo)
10px (dole)
50px (vlevo)

👉 Co to dělá?

    Vnitřní mezera nahoře, vpravo a vlevo je 50px.
    Vnitřní mezera dole je pouze 10px (menší než ostatní).*/
    /* = běžně používáno u hlavní stránky a zv. kontejneru*/
}

 body > header{
 height: 100px;
 width: 100%;
 background: #00386B;
 color: white; 
 display: flex; 
 justify-content: space-evenly;
 /*toto z hlavičky udělá fixní menu*/
 position:fixed; /*rolování scrolbarem nemá na fixed vliv, zobrazí se na nastavené pozici*/
 z-index: 1; /* hlavnička se zobrazí nad všemi ostatními elementy*/
 top:0; /*hlavička se zobrazí vždy v horním okněstránky*/}   

 nav ul{
 margin: 0; /* vypnutí vnějších okrajů tj. zmizí volné místo nahoře */
 list-style-type: none;
 display: flex; /* prvky se zobrazují vedle sebe*/
 align-items: center; /*centrace položek*/
 height: 100%; /*seznam roztáhli přes celou výšku navigačního menu*/}

 nav ul a {
color: white;
margin: 0 5px;
text-decoration: none;
text-transform: uppercase;}

nav ul a:hover, .aktivni a {
border-bottom: 2px solid #EF6534;}


.avatar{
float: right; /* z obrázku uděláme plovoucí obsah tj. lze ho obtékat*/
padding-left: 2px;
filter: grayscale(1);}


.cistic {
clear: both;}

.obrazek {
width: 110px;
display: block; /*změni obrazek na blokový prvek*/
margin: auto; /*vycentruje ho na střed*/
/*Centrace obrázku na střed:
display: display: flex;       umožní použití flexboxu.
justify-content:  center;     vycentruje horizontálně.
align-items:      center;     vycentruje vertikálně.
height: 150px;                nastaví pevnou výšku buňky, aby zarovnání fungovalo.;*/}

.tlacitkoReference{
background-color: rgb(17, 192, 75);
color:rgb(255, 255, 255);
text-transform: uppercase;
text-decoration: none;
padding: 12px 12px;
border-radius: 25px;
box-sizing: border-bo}

.kontakt-tlacitko{
background-color: #EF6534;
padding: 10px 20px;
border-radius: 20px;}

.kontakt-tlacitko:hover,
.tlacitkoReference:hover {
filter:brightness(115%) contrast(85%);
border:0; /* zabránění podtrhávání*/}

.vlevo{
float:left;}

hmtl {
background-color: #666666;}

footer {
box-sizing: border-box; /* výška patičky opravdu oněch 100px i po přidání padding*/
text-align: center;
height: 100px;
color: white;
background: #414042;
padding: 50px 0 0 0;
clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%); /*ořízne obsah elementu podle předaného tvaru*/}

footer a {
color: white;
text-decoration: none; /*zrušení podtržení*/}

#logo {
margin: auto 0 auto 20px;
height: 40px;
display: flex; /*prvky se zobrazují vedle sebe*/
flex-direction: column; /*prvky se zobrazují do sloupce*/
justify-content: center;
background: url('obrazky/logo.png') no-repeat;
background-size: 40px 40px;}

#logo > * {
margin: 0 0 0 50px; /*aby nedošlo k překrytí objektů*/}

#logo h1 {
font-weight: normal;
font-size: 1.5em;
line-height: 1.2em;
color: white;}

#logo h1 span {
font-weight: bold;
text-transform: uppercase;}

#logo small {
text-transform: uppercase;
font-size: 0.85em;}

#dovednosti td{
width: 33%;
padding: 10px;
vertical-align: top;
border: 1px solid gray;}

#dovednosti { /*slití rámečků*/
border-collapse: collapse;}

#reference img{
border: 1px solid gray;
padding: 6px;
box-shadow: 3px 3px 6px #999999;
margin-right: 6px;}

#reference a:hover {
text-decoration: none;}