@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

body {
    font: 14px "Poppins";
    color: #414042;
    background: #F9F9F9;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    color: #00386B;
}

article h1 {
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
}

article h2 {
    font-size: 2em;
}

article header {
    height: 80px;
}

article section p {
    line-height: 1.8em;
}

article section a {
    color: #EF6534;
}

article {
    margin: 0 auto;
    max-width: 960px;
}

.centrovany {
    text-align: center;
}

.avatar {
	float: right;
	padding-left: 10px;
    width: 300px;
    filter: grayscale(1);
}

.cistic {
	clear: both;
}